body, html {
	height: 100%;
	margin: 0;
}
body {
	background-color: black;
}
@font-face {
	font-family: Optima;
	src: url(unicode.optima.ttf);
}
#container {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Optima, sans-serif;
	color: white;
}
#message {
	text-align: center;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1 {
	font-size: 4rem;
}
p {
	font-size: 2rem;
}
img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: contain;
	opacity: 1;
	/* transition: opacity 1s linear; */
}
.js-hide {
	opacity: 0;
}
#shadow-overlay {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    color: white;
}
#trackinfo {
	position: absolute;
    bottom: 1rem;
    right: 2rem;
    margin: 0;
	text-align: end;
	letter-spacing: 3px;
	padding-left: 10%;
}
#song, #artist {
	margin: 0;
	font-size: 5vw;
}